<template>
    <div class="payment">
        <div class="bg-white p-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <img width="158" src="/assets/icons/logo-text.png" alt="">
                </div>
                <div class="col-6 text-right">
                    <a class="d-inline-flex align-items-center">
                    <!-- <router-link :to="{name: 'user.profile', query: { token: this.token }}" class="d-inline-flex align-items-center"> -->
                        <p class="text-black mb-0 f-bold">{{ user.phone_number }}</p>
                        <font-awesome-icon :icon="['fas','user-circle']" class="text-red ml-2 fs-4"></font-awesome-icon>
                    </a>
                    <!-- </router-link> -->
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="bg-white p-3 mb-3">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div>
                    <p class="text-grey fs-0 mb-1">Saldo</p>
                    <div class="d-flex align-items-start">
                        <span class="text-red small-rp">RP</span>
                        <span class="text-red fs-3 font-weight-bold">{{ user.balances.primary | currency('', 0, {thousandsSeparator: '.'}) }}</span>
                    </div>
                </div>
                <router-link :to="{name: 'user.topup', query: { token: this.token }}" class="btn btn-red btn-round btn-lg f-bold px-4">Isi Saldo <font-awesome-icon :icon="['fas','plus-circle']" class="fs-0"></font-awesome-icon></router-link>
            </div>
            <router-link :to="{name: 'user.transaction-list', query: { token: this.token }}" class="btn btn-history btn-lg text-red">Lihat Daftar Transaksi</router-link>
        </div>
        <div class="bg-white px-3 py-4 text-center">
            <img width="70" src="/assets/icons/logo-small.png" alt="">
            <h5 class="font-weight-bold">Aplikasi Rich On Pay</h5>
            <p class="fs-2 mb-4">Download & Install Aplikasi Rich On Pay untuk<br>menikmati fitur yang lebih lengkap</p>
            <button @click="openApp" class="btn btn-red btn-lg btn-block font-weight-bold fs-2">Download</button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                token: this.$route.query.token,
            }
        },
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        mounted() {
            
        },
        methods: {
            openApp(){
                window.location.replace('market://details?id=com.richonpay');
            },
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            error(err) {
                this.$emit('error', err);
            },
        },
    };
</script>