<template>
    <div class="payment register">
        <h4 class="header-text">Silahkan masukkan nomor handphone Anda</h4>
        <div class="d-flex align-items-center field-wrapper">
            <font-awesome-icon :icon="['fas','mobile-alt']" class="text-grey mobile-icon"></font-awesome-icon>
            <!-- <span class="country-code">+62</span> -->
            <div class="input-field no-min-width my-0 country-code">
                <div class="input">
                    <input type="text" class="form-control no-border fs-2" value="+62" inputmode="numeric" disabled="true">
                    <label class="placeholder"></label>
                    <div class="bar"></div>
                    <div class="bar-filler"></div>
                </div>
            </div>
            <div class="input-field no-min-width my-0" :class="{ 'error': $v.phoneNumber.$error }">
                <div class="input">
                    <input v-model.trim="$v.phoneNumber.$model" type="text" class="form-control no-border fs-2" name="phone_number" id="phone_number" inputmode="numeric" pattern="\d*" required="required">
                    <label for="phone_number" class="placeholder">Cth: 8123456789</label>
                    <div class="bar"></div>
                    <div class="bar-filler"></div>
                </div>
                <div class="status-text" v-if="!$v.phoneNumber.required">{{ $t('validation.required', {attribute: 'Phone Number'}) }}</div>
            </div>
        </div>
        <div class="btn-wrapper">
            <button v-on:click="submit" class="btn btn-blue btn-block fs-3 btn-lg">Lanjutkan</button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import { required } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                phoneNumber: ''
            }
        },
        computed: {
            ...mapState('loading', ['isLoading'])
        },
        validations: {
            phoneNumber: {
                required,
            },
        },
        mounted() {
            $(document).ready(function() {
                let inputs = $('.input-field input');
                inputs.materialize();
            });
            $('input[name=phone_number]').on("keypress keyup blur",function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            submit() {
                this.$v.$touch();
                if (this.$v.$invalid) return;

                var data = {
                    phone_number: this.phoneNumber,
                };
                this.$router.push({ name: 'otp', query: { phone_number: this.phoneNumber } });
                // this.loading(true);
                // window.axios.post(`/api/v1/pay/${walletId}/pay-by-wallet`, data)
                //     .then((response)  =>  {
                //         let res = response.data;
                //         let order = res.data.order;
                //         this.$router.push({ name: 'payment-detail', params: { order_id: order.id }, query: { token: this.token } });
                //         this.loading(false);
                //     }, (error) => {
                //         console.log(error);
                //         this.loading(false);
                //         this.$emit('error', error);
                //     });
            }
        },
    };
</script>