<template>
    <div v-if="isGettingUser"></div>
    <div v-else>
        <router-view v-if="user"></router-view>
        <div v-else>Unauthenticated</div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                token: this.$route.query.token,
            }
        },
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        mounted() {
            this.getUser(this.token);
        },
        methods: {
            getUser(token) {
                this.$store.dispatch('account/me', token)
            },
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            success(t, m) {
                this.$emit('success', t, m);
            },
            error(err) {
                this.$emit('error', err);
            },
        },
    };
</script>