$red: #fc342d;
$white: #fff;
$red-darked: darken($red, 10%);
$white-darked: darken($white, 10%);

$colors: (
    blue: #0596D5,
    green: #00C324,
);

:root {
    --red: #{$red};
    --red-darked: #{$red-darked};
    --white: #{$white};
    --white-darked: #{$white-darked};
}

#mute {
    position: fixed;
    left: 0;
    top: 0;
}

.loading {
    position: relative;
    width: 100%;
    height: 100px !important;
    display: none;
}

#mute::before,
.loading::before {
    content: '';
    border: solid #f3f3f3;
    border-radius: 50%;
    border-top: solid #fc342d;
    border-width: 2.4px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.loading::before {
    content: '';
    border: solid #5d5d5d;
    width: 40px;
    height: 40px;
}

#mute.on,
.loading.on {
    -webkit-animation: fadeInLoading 280ms forwards;
    -moz-animation: fadeInLoading 280ms forwards;
    -o-animation: fadeInLoading 280ms forwards;
    animation: fadeInLoading 280ms forwards;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.loading.on {
    background: unset;
    display: block;
}

#mute.on:not(.done)::before {
    -webkit-animation: spinLoading 1.6s linear infinite forwards;
    -moz-animation: spinLoading 1.6s linear infinite forwards;
    -o-animation: spinLoading 1.6s linear infinite forwards;
    animation: spinLoading 1.6s linear infinite forwards;
    display: block;
}

#mute.done {
    -webkit-animation: fadeOutLoading 280ms forwards;
    -moz-animation: fadeOutLoading 280ms forwards;
    -o-animation: fadeOutLoading 280ms forwards;
    animation: fadeOutLoading 280ms forwards;
}

@keyframes fadeInLoading { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInLoading { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInLoading { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLoading { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutLoading { 
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-o-keyframes fadeOutLoading { 
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes fadeOutLoading { 
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes fadeOutLoading { 
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes spinLoading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes spinLoading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinLoading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinLoading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Spa Payment Section

body.bg-white .payment {
    background-color: #fff !important;
}

.payment {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #EFEFF4;
    font-size: 14px;

    @media screen and (min-width: 1200px) {
        width: 400px;
        margin: auto;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        height: calc(100vh - 40px);
        max-height: 750px;
    }

    .navbar-brand.mareco-pay {
        min-width: 110px;
        height: 22px;
    }

    hr.liner {
        margin: 0;
        border-top: 1px solid rgba(232, 232, 232, 1);
    }

    .black-label {
        margin-bottom: 12px;
    }

    .btn-wrapper {
        @media screen and (min-width: 1200px) {
            position: absolute;
        }

        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        z-index: 1;
    }

    .btn {
        border-radius: $border-radius !important;
    }

    .pick-list {
        margin: -8px;

        .col {
            padding: 8px;

            .amount-block {
                background-color: #EEEEEE;
                border-radius: $border-radius;
                color: map-get($colors, blue);
                padding: 12px;
                text-align: center;
                max-width: 105px;
                cursor: pointer;

                &.active {
                    background-color: map-get($colors, blue);
                    color: #fff;
                }
            }
        }
    }

    &.register {
        background-color: #fff;

        .header-text {
            margin: 30px;
            font-weight: 700;
            font-size: 22px !important;
        }

        .field-wrapper {
            margin: 0 30px;

            .mobile-icon {
                font-size: 30px;
                margin: 10px 0 0;
            }

            .country-code {
                margin: 0 8px 0 16px;
                min-width: 32px;
                max-width: 32px;

                .input input {
                    color: #000 !important;
                }

                .input .bar {
                    border-bottom: unset !important;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .btn-wrapper {
            background: transparent;
        }
    }

    .md-invalid .md-error + .md-error {
        display: none !important;
    }

    a:not(.md-button):hover {
        text-decoration: unset !important;
    }

    .big-check-blue {
        color: map-get($colors, green);
        font-size: 92px;
        margin: 10px 0 30px;
    }

    .box-raised {
        box-shadow: $box-shadow;
        border-radius: $border-radius;
    }

    .help-box {
        background-color: map-get($colors, green);
        padding: .5rem 1rem;
        border-radius: $border-radius;
        color: #fff;
        margin-top: 10px;
    }

    .total-pembayaran span.text-green {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            width: 1px;
            height: 1px;
            border: 8px solid;
            border-color: transparent transparent map-get($colors, green) transparent;
        }
    }

    .small-rp {
        line-height: 20px;
        margin-right: 3px;
        font-size: 10px;
    }

    .btn-history {
        color: map-get($colors, blue);
        background-color: #fff;
        border: 1px solid #EFEFF4;
        border-radius: $border-radius;
        font-weight: 500;
        width: 100%;
    }

    .download-mareco {
        border: 1px solid #EFEFF4;
        width: 72px;
        margin-bottom: 10px;
        border-radius: 18px;
    }

    .md-tabs.fixed-tabs {
        max-height: 100%;
        
        .md-tabs-navigation {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
            
            +.md-tabs-content {
                margin-top: 48px;

                // .md-tabs-container {

                //     .md-tab {
                //         overflow: auto;
                //         -webkit-overflow-scrolling: touch;
                //         max-height: calc(100vh - 48px);
                //     }
                // }
            }
        }
    }

    .transaction-block {
        background-color: #fff;
        border-radius: $border-radius;
        margin-bottom: 16px;
    }

    .transaction-logo {
        border: 1px solid #EFEFF4;
        width: 40px;
        border-radius: 50px;
        margin-right: 16px
    }

    .modal-pin {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;

        .modal-content {
            border-radius: $border-radius;
            overflow: hidden;

            .modal-body {
                padding: 0;
    
                .pay-btn {
                    text-align: right;

                    button {
                        border-radius: 0 !important
                    }
                }
            }
        }
    }

    .profile-pic {
        max-width: 60px;
        min-width: 60px;
        max-height: 60px;
        min-height: 60px;
        margin-right: 1.25rem;
        border-radius: 100px;
        background-image: url(/assets/images/no-profil.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .setting-list {
        padding: .85rem 1rem;

        p {
            line-height: 15px;
        }
    }

    .btn-cancel {
        background-color: rgba(184, 184, 184, 0.24);
        color: #FF3B30;
        font-weight: 700;
    }
}

// End Of Spa Payment Section