
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@font-face {
    font-family: 'Freestyle Script';
    src: url('/fonts/FreestyleScript/FreestyleScript-Regular.woff2') format('woff2'),
        url('/fonts/FreestyleScript/FreestyleScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Variables
@import 'custom-variables';

// Toastr
@import "~toastr/toastr.scss";