@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("mareco", (
  primary: #0596D5, // The primary color of your brand
  accent: #03497e, // The secondary color of your brand
  fieldvariant: #FF372C,
));

@include md-register-theme("rop", (
  primary: #fc342d, // The primary color of your brand
  accent: #03497e, // The secondary color of your brand
  fieldvariant: #FF372C,
));

@import "~vue-material/dist/theme/all"; // Apply the theme

@import "~vue-material/dist/vue-material.min.css";

body {
  line-height: 1.25 !important;
}