<template>
    <div class="payment">
        <div class="bg-white p-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <img width="158" src="/assets/icons/logo-text.png" alt="">
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <p class="mb-0 f-bold">{{ user.phone_number }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="liner">
        <div class="bg-white p-3">
            <p class="font-weight-bold fs-0 black-label">Metode Pembayaran</p>
            <div class="row align-items-center">
                <div class="col-6 d-flex align-items-center">
                    <font-awesome-icon :icon="['fas','wallet']" class="text-red fs-4"></font-awesome-icon>
                    <span class="mb-0 ml-2 f-bold">Saldo</span>
                </div>
                <div class="col-6">
                    <p class="text-right mb-0 font-weight-bold">{{ user.balances.primary | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                </div>
            </div>
        </div>
        <hr class="liner">
        <div class="bg-white p-3">
            <p class="font-weight-bold fs-0 black-label">Informasi Transaksi</p>
            <div>
                <p class="text-grey fs-0 mb-0">Dari</p>
                <p class="">{{ title }}</p>
            </div>
            <div>
                <p class="text-grey fs-0 mb-0">Pembayaran</p>
                <p class="mb-0">{{ desc }}</p>
            </div>
        </div>
        <hr class="liner">
        <div class="bg-white p-3">
            <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0 text-grey">Total Pembayaran</p>
                <h4 class="text-red font-weight-bold mb-0">{{ price | currency('Rp', 0, {thousandsSeparator: '.'}) }}</h4>
            </div>
        </div>
        <div class="btn-wrapper">
            <button type="button" data-toggle="modal" data-target="#inputPin" class="btn btn-red btn-block btn-circle fs-2 btn-lg">Bayar Sekarang</button>
            <!-- <button v-on:click="pay" class="btn btn-red btn-block btn-circle fs-2 btn-lg">Bayar Sekarang</button> -->
        </div>
        <div class="modal fade" id="inputPin" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm modal-pin" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="#" method="post" @submit="pay">
                            <div class="p-3">
                                <h6>Masukkan PIN</h6>
                                <md-field class="md-theme-mareco" :class="{'md-invalid': $v.pin.$error}">
                                    <label>Your Pin</label>
                                    <md-input v-model.trim="$v.pin.$model" type="password" inputmode="numeric" pattern="\d*" maxlength="6" required autocomplete="off"></md-input>
                                    <span class="md-error" v-if="!$v.pin.required">PIN harus di isi</span>
                                    <span class="md-error" v-if="!$v.pin.numeric">PIN hanya boleh berisi angka</span>
                                    <span class="md-error" v-if="!$v.pin.maxLength || !$v.pin.minLength">PIN harus 6 digit</span>
                                </md-field>
                            </div>
                            <div class="pay-btn">
                                <button :disabled="this.$v.$invalid || isLoading" type="submit" class="btn btn-red btn-block btn-lg btn-circle">Bayar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import { required, numeric, maxLength, minLength } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                token: this.$route.query.token,
                title: this.$route.query.title,
                desc: this.$route.query.desc,
                price: this.$route.query.price,
                receiverPhoneNumber: this.$route.query.receiver_phone_number,
                pin: '',
            }
        },
        computed: {
            ...mapState('account', ['user']),
            ...mapState('loading', ['isLoading'])
        },
        validations: {
            pin: {
                required,
                numeric,
                minLength: minLength(6),
                maxLength: maxLength(6)
            },
        },
        mounted() {
            $(document).ready(function() {
                $('body').addClass('bg-white');
            });
        },
        methods: {
            pay(e) {
                // Prevent Form Submit Event
                e.preventDefault();

                // Validate Form
                this.$v.$touch();
                if (this.$v.$invalid) return;

                var phoneNumber = this.receiverPhoneNumber;
                if (phoneNumber == null || phoneNumber == "") {
                    this.$parent.error({message: "Please submit receiver phone_number!"});
                    return;
                }
                if (this.price < 500) {
                    this.$parent.error({message: "Minimum pembayaran Rp500, silahkan hubungi pihak terkait"});
                    $('#inputPin').modal('hide');
                    return;
                }
                
                var data = {
                    amount: this.price,
                    note: this.desc,
                    title: this.title,
                    pin: this.pin
                };

                this.loading(true);
                window.axios.post(`/api/v1/pay/${phoneNumber}/pay-by-phone-number`, data)
                    .then((response)  =>  {
                        $('#inputPin').modal('hide');
                        let res = response.data;
                        let order = res.data.order;
                        this.paymentSuccess();
                        this.$router.push({ name: 'user.payment-detail', params: { order_id: order.id }, query: { token: this.token } });
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        // this.pin = '';
                        this.$parent.error(error);
                    });
            },
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            paymentSuccess() {
                if (window.JSInterface) {
                    window.JSInterface.onSuccess('Success');
                } else {
                    console.log('JSInterface undetected');
                }
            }
        },
    };
</script>