<template>
    <div class="payment" v-if="transaction">
        <div class="bg-white">
            <div class="text-center p-3">
                <font-awesome-icon :icon="['fas','check']" class="big-check-blue"></font-awesome-icon>
                <h5 class="font-weight-bold">Permbayaran Berhasil</h5>
                <p class="text-grey">Anda dapat mengakses informasi<br>pembayaran pada menu daftar transaksi</p>
                <div class="p-3 mb-4 box-raised d-flex align-items-center justify-content-between">
                    <p class="mb-0 f-bold">{{ order.options.title || '-' }}</p>
                    <p class="mb-0 f-super-bold">- {{ transaction.total_amount | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                </div>
            </div>
            <p class="font-weight-bold black-label px-3">Informasi Transaksi</p>
            <hr class="liner">
            <div class="p-3">
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Nomor Invoice</p>
                    <p class="f-bold mb-0">{{ transaction.reference_number }}</p>
                </div>
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Tanggal dan Waktu</p>
                    <p class="f-bold mb-0">{{ createdAt | moment('DD MMM YYYY - hh.mm A') }}</p>
                </div>
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Pembayaran</p>
                    <p class="f-bold mb-0">{{ transaction.description }}</p>
                </div>
                <div class="mb-0 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Metode Pembayaran</p>
                    <p class="f-bold mb-0">Saldo</p>
                </div>
            </div>
        </div>
        <!-- <div class="btn-wrapper">
            <button class="btn btn-blue btn-block btn-circle fs-3 btn-lg">Tutup</button>
        </div> -->
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                token: this.$route.query.token,
                transaction: null,
                order: null,
                createdAt: null,
            }
        },
        computed: {
            ...mapState('account', ['user']),
            ...mapState('loading', ['isLoading'])
        },
        mounted() {
            $(document).ready(function() {
                $('body').addClass('bg-white');
            });
            this.getPayment(this.$route.params.order_id);
        },
        methods: {
            getPayment(id) {
                this.loading(true);
                window.axios.get(`/api/v1/order/${id}/detail`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.transaction = res.data.transaction;
                        this.order = this.transaction.order;
                        this.createdAt = moment.tz(this.transaction.created_at, 'UTC').tz(moment.tz.guess()).format();
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.$parent.error(error);
                    });
            },
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            }
        },
    };
</script>