/* GLOBAL */
html {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    font-size: 14px
}

.form-control {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.bg-white.box-shadow {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}

img {
    max-width: 100%;
}

/* End of GLOBAL */

/* Custom Bootstrap */

.btn {
    cursor: pointer;
    padding: 0.275rem 1.15rem;
}

.btn-group.btn-group-circle > .btn:first-child {
    border-radius: 25px 0 0 25px!important;
}

.btn-group.btn-group-circle > .btn:last-child {
    border-radius: 0 25px 25px 0!important;
}

.btn-group.btn-group-circle > .btn:only-child {
    border-radius: 25px !important;
}

/* BUTTON BLOCK */
.btn-label {
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 8px 32px;
    font-weight: bold;
    min-width: 234px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .btn-label {
        font-size: 1.3rem;
    }

}
        /* Black */

    .btn-black {
        color: #fff;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
    }

    .btn-black:hover {
        color: #fff;
        background-color: #5a5a5a;
        border-color: #5a5a5a;
    }

    .btn-black.active {
        background-color: #5a5a5a;
        border: thin solid #5a5a5a;
        color: #fff;
    }

    /* White */

    .btn-white {
        color: #212529 !important;
        background-color: var(--white);
        border-color: var(--white);
    }

    .btn-white:hover {
        color: #212529 !important;
        background-color: var(--white-darked);
        border-color: var(--white-darked);
    }

    .btn-white.active, .btn-white:active, .show>.btn-white.dropdown-toggle {
        background-color: var(--white-darked);
        background-image: none;
        border-color: var(--white-darked);
        color: #212529 !important;
    }

        /* Grey */

    .btn-grey {
        color: #fff !important;
        background-color: #a2a2a2;
        border-color: #a2a2a2;
    }

    .btn-grey:hover {
        color: #fff !important;
        background-color: #828282;
        border-color: #828282;
    }

    .btn-grey.active, .btn-grey:active, .show>.btn-grey.dropdown-toggle {
        background-color: #828282;
        background-image: none;
        border-color: #828282;
        color: #fff !important;
    }

        /* Red */

    .btn-red {
        color: #fff !important;
        background-color: var(--red);
        border-color: var(--red);
    }

    .btn-red:hover {
        color: #fff !important;
        background-color: var(--red-darked);
        border-color: var(--red-darked);
    }

    .btn-red.active, .btn-red:active, .show>.btn-red.dropdown-toggle {
        background-color: var(--red-darked);
        background-image: none;
        border-color: var(--red-darked);
        color: #fff !important;
    }

        /* Blue */

    .btn-blue {
        color: #fff !important;
        background-color: #0045a8;
        border-color: #0045a8;
    }

    .btn-blue:hover {
        color: #fff !important;
        background-color: #003d94;
        border-color: #003d94;
    }

    .btn-blue.active, .btn-blue:active, .show>.btn-blue.dropdown-toggle {
        background-color: #003d94;
        background-image: none;
        border-color: #003d94;
        color: #fff !important;
    }

        /* Light Blue */

    .btn-light-blue {
        color: #fff !important;
        background-color: #0596D5;
        border-color: #0596D5;
    }

    .btn-light-blue:hover {
        color: #fff !important;
        background-color: #0481B7;
        border-color: #0481B7;
    }

    .btn-light-blue.active, .btn-light-blue:active, .show>.btn-light-blue.dropdown-toggle {
        background-color: #0481B7;
        background-image: none;
        border-color: #0481B7;
        color: #fff !important;
    }

    /* Cream */

    .btn-cream {
        color: #fff !important;
        background-color: #dda576;
        border-color: #dda576;
    }

    .btn-cream:hover {
        color: #fff !important;
        background-color: #d4945f;
        border-color: #d4945f;
    }

    .btn-cream.active, .btn-cream:active {
        background-color: #d4945f;
        background-image: none;
        border-color: #d4945f;
        color: #fff !important;
    }

    /* Green */

    .btn-green {
        color: #fff !important;
        background-color: #158d7b;
        border-color: #158d7b;
    }

    .btn-green:hover {
        color: #fff !important;
        background-color: #147b6c;
        border-color: #147b6c;
    }

    .btn-green.active, .btn-green:active {
        background-color: #147b6c;
        background-image: none;
        border-color: #147b6c;
        color: #fff !important;
    }


/* END OF BUTTON BLOCK */

/* BUTTON OUTLINE */

    /* Black */

    .btn-outline-black {
        color: #6e6e6e;
        background-color: transparent;
        border-color: #6e6e6e;
    }

    .btn-outline-black:hover {
        color: #fff !important;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
    }

    .btn-outline-black.active, .btn-outline-black:active {
        color: #fff !important;
        background-color: #5a5a5a;
        border: thin solid #5a5a5a;
    }

        /* White */

    .btn-outline-white {
        border-color: #fff;
        color: #fff;
        background-color: transparent;
    }

    .btn-outline-white:hover {
        color: #212529;
        background-color: #fff;
        border-color: #fff;
    }

    .btn-outline-white:focus {
        color: #212529;
        background-color: #fff;
        border-color: #fff;
    }

    .btn-outline-white.active, .btn-outline-white:active, .show>.btn-outline-white.dropdown-toggle {
        color: #212529;
        background-color: #ececec;
        border-color: #ececec;
    }

        /* Grey */

    .btn-outline-grey {
        border-color: #a2a2a2;
        background-color: transparent;
        color: #a2a2a2 !important;
    }

    .btn-outline-grey:hover {
        color: #fff !important;
        background-color: #a2a2a2;
        border-color: #a2a2a2;
    }

    .btn-outline-grey.active, .btn-outline-grey:active, .show>.btn-outline-grey.dropdown-toggle {
        color: #fff !important;
        background-color: #828282;
        border-color: #828282;
    }

        /* Blue */

    .btn-outline-blue {
        border-color: #0045a8;
        background-color: transparent;
        color: #0045a8 !important;
    }

    .btn-outline-blue:hover {
        color: #fff !important;
        background-color: #0045a8;
        border-color: #0045a8;
    }

    .btn-outline-blue.active, .btn-outline-blue:active, .show>.btn-outline-blue.dropdown-toggle {
        color: #fff !important;
        background-color: #003d94;
        border-color: #003d94;
    }

        /* Red */

    .btn-outline-red {
        border-color: #FF372C;
        background-color: transparent;
        color: #FF372C !important;
    }

    .btn-outline-red:hover {
        color: #fff !important;
        background-color: #FF372C;
        border-color: #FF372C;
    }

    .btn-outline-red.active, .btn-outline-red:active, .show>.btn-outline-red.dropdown-toggle {
        color: #fff !important;
        background-color: #ec3329;
        border-color: #ec3329;
    }

        /* Yellow */

    .btn-outline-yellow {
        border-color: #f0ad4e;
        color: #f0ad4e !important;
    }

    .btn-outline-yellow:hover {
        color: #fff !important;
        background-color: #f0ad4e;
        border-color: #f0ad4e;
    }

    .btn-outline-yellow.active, .btn-outline-yellow:active, .show>.btn-outline-yellow.dropdown-toggle {
        color: #fff !important;
        background-color: #d49439;
        border-color: #d49439;
    }
/* END OF BUTTON OUTLINE */

/* End of Custom Bootstrap */

.status-text {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1.25;
    color: #e85f4b;
    font-weight: 500;
    word-break: break-all !important;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
    text-align: left !important;
    font-size: 12px;
}

/* Navbar */

.logo-text {
    background-image: url(/assets/icons/logo-text.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 138px;
    height: 28px;
    margin: auto;
    margin-top: 24px;
}

header.header {
    background-color: #fff;
}

header.header .navbar-brand.logo {
    background-image: url(/assets/icons/logo-alt.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-width: 30px;
    height: 40px;
    padding: 0;
}

header.header .navbar-brand.logo-text {
    background-image: url(/assets/icons/logo-text.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 134px;
    height: 27px;
    margin: auto;
}

header.header.absolute-top {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

header.header .tab-list {
    margin: 0 -20px;
}

header.header .tab-list a:not(.btn) {
    display: -webkit-inline-box!important;
    display: -ms-inline-flexbox!important;
    display: inline-flex!important;
}

header.header .tab-list a:not(.btn),
header.header .tab-list div.btn-wrapper {
    padding: 6px 20px;
}

@media screen and (max-width: 1199px) {
    header.header .navbar-brand-wrapper {
        margin: 20px 0 !important;
    }

    header.header .tab-list a:not(.btn),
    header.header .tab-list div.btn-wrapper {
        padding: 14px 20px;
    }
}

header.header .tab-list p {
    margin-bottom: 0;
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

header.header.navbar-transparent .tab-list a {
    color: #fff;
}

header.header.bg-white .tab-list a {
    color: #000;
}

header.header .navbar-content {
    flex: auto;
}

.navbar-toggler-icon {
    display: flex;
}

.navbar-toggler:focus {
    outline: none !important;
}

/* End of Navbar */

/* Home Section */

section.intro {
    background-image: url(/assets/images/home/intro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.intro p {
    color: #fff;
}

section.intro .intro-wrapper {
    padding: 50px 0;
}

section.intro .intro-text {
    flex: 1;
    text-align: center;
    padding-top: 36px;
}

section.intro .intro-text .h-2 {
    line-height: 37px;
}

section.intro .intro-text .big-text {
    font-family: 'Freestyle Script';
}

section.intro .intro-text .desc {
    font-size: 1.3rem;
    line-height: 37px;
}

.download-box {
    display: inline-flex;
    margin: 50px -10px 26px;
}

.download-box a {
    margin: 0 10px;
    max-width: 186px;
}

section.intro .iphone {
    max-width: 367px;
    position: relative;
    padding-bottom: 37px;
    margin: auto;
    width: 100%;
}

.iphone-back {
    width: calc(359px / 1.5);
}

.iphone-front {
    width: calc(343px / 1.5);
    position: absolute;
    top: unset !important;
    left: unset !important;
    right: 0;
    bottom: 0;
}

@media screen and (min-width: 1200px) {
    section.intro .intro-wrapper {
        padding: 100px 0;
    }

    section.intro .intro-text {
        padding-top: 0;
        padding-right: 40px;
        padding-bottom: 50px;
        text-align: left;
        align-self: center;
    }

    .download-box {
        margin: 50px -14px 26px;
    }
    
    .download-box a {
        margin: 0 14px;
    }
}

section.about-rop {
    background: #fff;
    padding: 46px 0 10px;
}

.label {
    background-color: var(--red);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 100px;
    padding: 8px 32px;
    display: inline-block;
    font-weight: bold;
    min-width: 234px;
    text-align: center;
}

section.about-rop p.desc {
    font-size: 1.3rem;
    color: #585858;
}

section.product-service {
    background: #fff;
    padding: 60px 0 30px;
}

section.product-service .wrapper {
    background: #1C1A19;
    border: solid 1px #707070;
    border-radius: 28px;
    position: relative;
    padding: 60px 30px 40px 30px;
    text-align: center;
}

section.product-service .wrapper .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: fit-content;
}
section.product-service .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.product-service .products .item {
    background: #fff;
    padding: 20px 5px;
    border-radius: 14px;
    margin: 10px;
    text-align: center;
    width: 140px;
    height: 140px;
}

section.product-service .products .item-logo {
    max-width: 60px;
    max-height: 60px;
    margin: auto;
    margin-bottom: 10px;
}

section.product-service .products .item-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    section.product-service .products .item {
        margin: 0 46px;
    }
}

section.testimonials {
    background: #fff;
    padding: 40px 0 10px;
}

section.testimonials .title {
    font-weight: bold;
    display: inline-block;
    padding: 0 18px 5px;
    position: relative;
}

section.testimonials .title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--red);
    border-radius: 15px;
}

section.testimonials .carousel-wrapper {
    padding: 36px 10px;
}

section.testimonials .owl-carousel {
    margin-bottom: 40px;
}

section.testimonials .owl-carousel .owl-stage {
    display: flex;
}

section.testimonials .owl-carousel .owl-stage .owl-item .item,
section.testimonials .owl-carousel .owl-stage .owl-item .card-shadowed {
    height: 100%;
}

section.testimonials .owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    bottom: -40px;
}

section.testimonials .owl-carousel .owl-nav button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    background: var(--red);
    border-radius: 50%;
    opacity: 1;
    color: #fff;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-size: 1.2rem;
}

@media screen and (min-width: 1200px) {
    section.testimonials .carousel-wrapper {
        padding: 36px 0;
    }

    section.testimonials .owl-carousel .owl-nav button {
        width: 60px;
        height: 60px;
        font-size: 2.5rem;
    }
}

.owl-carousel .owl-nav button i,
.owl-carousel .owl-nav button svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

section.testimonials .owl-carousel .owl-nav button:hover {
    background: var(--red-darked);
}

.owl-carousel .owl-nav button:focus,
.owl-carousel .owl-dots button:focus {
    outline: unset;
}

section.testimonials .owl-carousel .owl-nav button.owl-prev {
    left: 0;
    transform: translateX(-50%);
}

section.testimonials .owl-carousel .owl-nav button.owl-next {
    right: 0;
    transform: translateX(50%);
}

.owl-carousel .owl-nav button.disabled {
    opacity: .5 !important;
}

.owl-carousel .owl-dots button.owl-dot span {
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin: 5px 5px;
}

.owl-carousel .owl-dots button.owl-dot.active span {
    background: var(--red);
}

.owl-carousel .owl-dots button.owl-dot.active:hover span,
.owl-carousel .owl-dots button.owl-dot:hover span {
    background: var(--red-darked);
}

section.testimonials .owl-carousel .owl-stage-outer {
    margin: -10px;
    padding: 10px;
}

section.testimonials .owl-carousel .item .card-shadowed {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border: solid 1px rgba(112, 112, 112, 0.13);
    border-radius: 28px;
    padding: 20px 30px;
    text-align: center;
}

.card-shadowed .card-image {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 12px;
}

.card-shadowed .card-image img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.card-shadowed .card-name p {
    font-size: 1.27rem;
    font-weight: 500;
    margin-bottom: 0;
}

.card-shadowed .card-class {
    margin-bottom: 30px;
}

.card-shadowed .card-class p {
    color: #B1B1B1;
    margin-bottom: 0;
}

.card-shadowed .card-desc p {
    margin-bottom: 0;
}

section.join {
    background: #fff;
    padding: 140px 0;
}

section.join .wrapper {
    position: relative;
}

section.join .wrapper .phone {
    display: none;
}

section.join .wrapper .steps p.title {
    margin-bottom: 18px;
    text-align: center;
}

section.join .wrapper .steps .red-box {
    background: var(--red);
    padding: 10px 20px;
    border-radius: 28px;
    color: #fff;
}

section.join .wrapper .steps .red-box .owl-carousel .owl-nav {
    margin: 20px -14px 0;
    text-align: center;
}

section.join .wrapper .steps .red-box .owl-carousel .owl-nav button {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    color: var(--red);
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-size: 2rem;
    margin: 5px 14px;
}

section.join .wrapper .steps .red-box .owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -60px;
}

section.join .wrapper .steps .step {
    display: flex;
}

section.join .wrapper .steps .step .step-index {
    margin-right: 20px;
}

section.join .wrapper .steps .step .step-desc {
    padding-top: 22px;
}

section.join .wrapper .steps .step .step-desc .h3 {
    margin-bottom: 34px;
}

section.join .wrapper .steps .step .step-desc .text-desc {
    font-size: 1.3rem;
}

@media screen and (min-width: 1200px) {
    section.join .wrapper .phone {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 320px;
        min-height: fit-content;
        transform: translateX(-24px);
    }

    section.join .wrapper .steps p.title {
        padding-left: 320px;
        text-align: left;
    }

    section.join .wrapper .steps .red-box {
        padding: 50px 60px 50px 320px;
    }

    section.join .wrapper .steps .red-box .owl-carousel .owl-nav {
        text-align: left;
    }

    section.join .wrapper .steps .red-box .owl-carousel .owl-dots {
        text-align: left;
        bottom: -110px;
    }
}

section.download {
    background: #1C1A19;
    padding: 60px 0 0;
    color: #fff;
    overflow: hidden;
}

section.download .wrapper {
    padding-bottom: 60px;
    max-width: 600px;
}

section.download .h1 {
    margin-bottom: 14px;
}

section.download .desc {
    font-size: 1.4rem;
}

section.download .download-box {
    margin: 14px -14px 0;
}

section.download .phones {
    position: relative;
    flex: 1;
    margin: 0 auto;
    max-width: 350px;
}

section.download .phones img {
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1199px) {
    section.download .phones {
        width: 100%;
        height: 290px;
    }
}

/* End of Home Section */

/* Footer Section */

footer {
    padding: 60px 0 0;
    background: #fff;
}

footer .logo {
    width: 220px;
}

footer .logo-wrapper {
    padding-bottom: 60px;
}

footer .info-wrapper {
    padding-bottom: 60px;
}

footer .item-wrapper {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    footer .item-wrapper {
        margin-bottom: 0;
    }
}

footer a,
footer a:hover {
    color: #000;
}

footer .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .item {
    font-size: 1.3rem;
    word-break: break-all;
}

footer .item-icon {
    width: 50px;
    height: 50px;
    background-color: #b1b1b1;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 14px;
    margin-bottom: 0;
    font-size: 2rem;
}

footer .item-icon svg {
    margin: auto;
}

footer hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

footer .copyright {
    font-size: 1.3rem;
    padding: 18px 0;
    text-align: center;
    margin-bottom: 0;
}

/* End of Footer Section */

/* Webview */

body.webview-binaries {
    background-color: #eee;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    max-height: 100vh;
    min-height: 100vh;
}

.webview-binaries .total {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.webview-binaries .total-poin {
    color: rgba(0, 0, 0, .54);
    margin-bottom: .75rem;
}

.webview-binaries .total-text {
    color: rgba(0, 0, 0, .87);
}

.webview-binaries .separator {
    width: 1px;
    background: rgba(0, 0, 0, .12);
}

.logout {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    display: block;
}

.color-means {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px;
}

.color-means .node {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

/* End of webview */

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

.fs-min-1 {
    font-size: 10px !important;
}

.fs-0 {
    font-size: 12px !important;
}

.fs-1 {
    font-size: 14px !important;
}

.fs-2 {
    font-size: 16px !important;
}

.fs-3 {
    font-size: 18px !important;
}

.fs-4 {
    font-size: 20px !important;
}

.fs-5 {
    font-size: 22px !important;
}

.fs-6 {
    font-size: 24px !important;
}

.fs-7 {
    font-size: 26px !important;
}

.fs-xxl {
    font-size: 32px !important;
}

.fs-3xl {
    font-size: 36px !important;
}

.fs-52px {
    font-size: 52px !important;
}

.no-wrap {
    white-space: nowrap;
}

.o-hidden {
    overflow: hidden;
}

.v-hidden {
    visibility: hidden;
}

.z-index-1 {
    z-index: 1;
}

.no-scroll {
    overflow: hidden;
}

.no-shadow {
    box-shadow: none;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.o-auto {
    overflow: auto;
}

.no-border {
    border: none !important;
}

.border-red {
    border-color: #e85f4b !important;
}

.border-cream {
    border-color: #dda576 !important;
}

.border-blue {
    border-color: #0045a8 !important;
}

.flex-1 {
    flex: 1 !important;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.f-primary {
    font-family: 'Poppins', sans-serif;
}

.f-secondary {
    font-family: 'Lato', sans-serif;
}

.f-light {
    font-weight: 200 !important;
}

.f-normal {
    font-weight: 400 !important;
}

.text-blue.active,
.f-bold {
    font-weight: 600 !important;
}

.f-super-bold {
    font-weight: 700 !important;
}

.bg-blue {
    background-color: #c4e9e8 !important;
}

.bg-light-blue {
    background-color: #e6f1f2 !important;
}

.bg-dark-blue {
    background-color: #0045a8 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-dark-white {
    background-color: #f8f8f8 !important;
}

.bg-grey {
    background-color: #d4d4d4 !important;
}

.bg-light-grey {
    background-color: #eeeeef !important;
}

.bg-red {
    background-color: #e85f4b !important;
}

.bg-light-red {
    background-color: #f19d91 !important;
}

.bg-cream {
    background-color: #ebc9ad !important;
}

.bg-light-cream {
    background-color: #f1dbc8 !important;
}

.text-blue {
    color: #0045a8 !important;
}

.text-blue.active,
.text-cream {
    color: #dda576 !important;
}

.text-red {
    color: var(--red) !important;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #000 !important;
}

.text-grey {
    color: #95989a !important;
}

.text-dark-grey {
    color: #585858 !important;
}

.text-green {
    color: #158d7b !important;
}

.text-light-green {
    color: #8be5c3 !important;
}

.text-lined {
    text-decoration: line-through !important;
}

.underline {
    text-decoration: underline !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-italic {
    font-style: italic !important;
}

.indent {
    text-indent: 19px;
}

.long-text {
    font-family: Nunito,sans-serif;
    line-height: 1.3;
    font-size: 14px;
}

.no-select {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.w-10 {
    width: 10% !important;
    max-width: 10% !important;
}

.w-15 {
    width: 15% !important;
    max-width: 15% !important;
}

.w-20 {
    width: 20% !important;
    max-width: 20% !important;
}

.w-25 {
    width: 25% !important;
    max-width: 25% !important;
}

.w-30 {
    width: 30% !important;
    max-width: 30% !important;
}

.w-50 {
    width: 50% !important;
    max-width: 50% !important;
}

.w-60 {
    width: 60% !important;
    max-width: 60% !important;
}

.w-70 {
    width: 70% !important;
    max-width: 70% !important;
}

.w-80 {
    width: 80% !important;
    max-width: 80% !important;
}

.w-86 {
    width: 86% !important;
    max-width: 86% !important;
}

.w-90 {
    width: 90% !important;
    max-width: 90% !important;
}

.min-w-200px {
    min-width: 200px;
}

.max-w-30 {
    max-width: 30% !important;
}

.max-w-80 {
    max-width: 80% !important;
}

.h-20 {
    height: 20%;
}

.h-40 {
    height: 40%;
}

.h-80 {
    height: 80%;
}

.h-100vh {
    height: 100vh;
}

@media (max-width: 1199px) {
    .h-xl-unset {
        height: unset !important;
    }
}

.hr-white {
    border-color: #fff;
}

.thick-hr {
    border-top: medium solid rgba(200, 200, 200, 1);
}

.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 1.25;
}

.line-height-4 {
    line-height: 2rem;
}

.ls-1 {
    letter-spacing: 0.01rem;
}

.ls-2 {
    letter-spacing: 0.02rem;
}

.ls-3 {
    letter-spacing: 0.03rem;
}

.word-wrap-break-word {
    word-wrap: break-word;
}

.break-word {
    word-break: break-word;
}

.break-all {
    word-break: break-all;
}

.mx-min-1 {
    margin-left: -.25rem !important;
    margin-right: -.25rem !important;
}

.my-min-0-5 {
    margin-top: -.125rem !important;
    margin-bottom: -.125rem !important;
}

.my-min-1 {
    margin-top: -.25rem !important;
    margin-bottom: -.25rem !important;
}

.mx-min-2 {
    margin-left: -.5rem !important;
    margin-right: -.5rem !important;
}

.my-min-2 {
    margin-top: -.5rem !important;
    margin-bottom: -.5rem !important;
}

.mx-min-3 {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.my-min-3 {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
}

.mx-min-4 {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}

.my-min-4 {
    margin-top: -1.5rem !important;
    margin-bottom: -1.5rem !important;
}

.ml-min-2 {
    margin-left: -.5rem !important;
}

.py-0-5 {
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
}

.py-2-5 {
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
}

.pr-2-5 {
    padding-right: 0.75rem !important;
}

.pt-1-5 {
    padding-top: 0.37rem !important;
}

.mb-0-5 {
    margin-bottom: 0.125rem !important;
}

.px-4-5 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

.py-4-5 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.no-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.obj-cover {
    object-fit: cover;
    -o-object-fit: cover;
}

.obj-contain {
    object-fit: contain;
    -o-object-fit: contain;
}

.obj-center {
    object-position: center;
    -o-object-position: center;
}

.obj-top {
    object-position: top;
    -o-object-position: top;
}

.obj-bottom {
    object-position: bottom;
    -o-object-position: bottom;
}

.min-height-min-content {
    min-height: min-content;
}

textarea {
    resize: none;
}

.hide {
    display: none;
}

@media (min-width: 992px) {
    .mx-lg-min-4 {
        margin-left: -1.5rem !important;
        margin-right: -1.5rem !important;
    }
}