/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }

.Treant > .node,
.Treant > .pseudo {
    position: absolute;
    display: block;
    visibility: hidden;
    border: 1px solid #cecece;
    background-color: #ececee;
    border-radius: 50%;
    padding: 12px;
    width: 100px;
    height: 100px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.node.free {
    border: 1px solid #cecece;
    background-color: #ececee;
}

.node.silver {
    border: 1px solid #A9A9A9;
    background-color: #878787;
}

.node.gold {
    border: 1px solid #da8c04;
    background-color: #f89d00;
}

.node.platinum {
    border: 1px solid #041535;
    background-color: #011640;
}

.node.silver *,
.node.gold *,
.node.platinum * {
    color: #fff;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo {
    visibility: visible;
}
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }

.Treant .collapse-switch {
    display: block;
    position: absolute;
    top: -1px;
    right: -2px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: #FF3636;
    transition: all 180ms;
    border-radius: 50%;
}

.Treant .collapse-switch::before,
.Treant .collapse-switch::after {
    content: '';
    display: block;
    background-color: #FFF;
    transition: all 180ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.Treant .collapse-switch::before {
    width: 8px;
    height: 2px;
}

.Treant .collapse-switch::after {
    width: 2px;
    height: 8px;
    opacity: 0;
}

.Treant .collapsed .collapse-switch {
    background-color: #18ce0f;
}

.Treant .collapsed .collapse-switch::after {
    opacity: 1;
}

.Treant > .node img {	border: none; float: left; }

.node-name {
    margin-bottom: 4px;
    text-align: center;
}

.node-title {
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}

.node-desc {
    text-align: center;
    font-size: 12px;
    color: #95989a;
    margin-bottom: 0px;
}