<template>
    <div class="payment">
        <div class="bg-white mb-3">
            <div class="p-3 d-flex align-items-center">
                <div class="profile-pic"></div>
                <div>
                    <p class="text-grey fs-2 mb-1">{{ user.fullname ? user.fullname : 'Belum ada Nama' }}</p>
                    <p class="fs-2 f-bold mb-0">{{ user.phone_number }}</p>
                </div>
            </div>
            <hr class="liner">
        </div>
        <div class="bg-white">
            <hr class="liner">
                <router-link :to="{name: 'user.profile.reset-pin', query: { token: this.token }}" class="setting-list d-flex align-items-center">
                    <p class="mb-0 fs-2">Reset PIN</p>
                    <font-awesome-icon :icon="['fas','chevron-right']" class="text-light-grey ml-auto fs-2"></font-awesome-icon>
                </router-link>
            <hr class="liner">
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                token: this.$route.query.token,
            }
        },
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        mounted() {
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
        },
    };
</script>