<template>
    <div class="payment register">
        <h4 class="header-text">Reset PIN</h4>
        <form action="#" method="post" @submit="submit" class="field-wrapper mb-5">
            <md-field class="md-theme-mareco" :class="{'md-invalid': $v.oldPin.$error}">
                <label>Current PIN</label>
                <md-input v-model.trim="$v.oldPin.$model" type="password" inputmode="numeric" pattern="\d*" maxlength="6" required></md-input>
                <span class="md-error" v-if="!$v.oldPin.required">{{ $t('validation.required', {attribute: 'PIN'}) }}</span>
                <span class="md-error" v-if="!$v.oldPin.numeric">{{ $t('validation.numeric', {attribute: 'PIN'}) }}</span>
                <span class="md-error" v-if="!$v.oldPin.maxLength || !$v.oldPin.minLength">Old PIN must 6 digits</span>
            </md-field>
            <md-field class="md-theme-mareco" :class="{'md-invalid': $v.newPin.$error}">
                <label>New PIN</label>
                <md-input v-model.trim="$v.newPin.$model" type="password" inputmode="numeric" pattern="\d*" maxlength="6" required></md-input>
                <span class="md-error" v-if="!$v.newPin.required">{{ $t('validation.required', {attribute: 'PIN'}) }}</span>
                <span class="md-error" v-if="!$v.newPin.numeric">{{ $t('validation.numeric', {attribute: 'PIN'}) }}</span>
                <span class="md-error" v-if="!$v.newPin.maxLength || !$v.newPin.minLength">New PIN must 6 digits</span>
                <span class="md-error" v-if="!$v.newPin.notSameAsPin">Must not same as Old PIN</span>
            </md-field>
            <md-field class="md-theme-mareco" :class="{'md-invalid': $v.newPinConfirmation.$error}">
                <label>New PIN Confimration</label>
                <md-input v-model.trim="$v.newPinConfirmation.$model" type="password" inputmode="numeric" pattern="\d*" maxlength="6" required></md-input>
                <span class="md-error" v-if="!$v.newPinConfirmation.required">{{ $t('validation.required', {attribute: 'PIN'}) }}</span>
                <span class="md-error" v-if="!$v.newPinConfirmation.numeric">{{ $t('validation.numeric', {attribute: 'PIN'}) }}</span>
                <span class="md-error" v-if="!$v.newPinConfirmation.sameAsNewPin">Must same as New PIN</span>
                <span class="md-error" v-if="!$v.newPinConfirmation.maxLength || !$v.newPinConfirmation.minLength">New PIN Confirmation must 6 digits</span>
            </md-field>
            <div class="btn-wrapper">
                <button type="submit" :disabled="this.$v.$invalid || isLoading" class="btn btn-blue btn-block fs-3 btn-lg">Reset</button>
            </div>
        </form>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import { required, numeric, maxLength, minLength, sameAs } from 'vuelidate/lib/validators'

    const notSameAsPin = (value, vm) => value !== vm.oldPin

    export default {
        data() {
            return {
                token: this.$route.query.token,
                oldPin: '',
                newPin: '',
                newPinConfirmation: '',
            }
        },
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        validations: {
            oldPin: {
                required,
                numeric,
                minLength: minLength(6),
                maxLength: maxLength(6)
            },
            newPin: {
                required,
                numeric,
                minLength: minLength(6),
                maxLength: maxLength(6),
                notSameAsPin
            },
            newPinConfirmation: {
                required,
                numeric,
                minLength: minLength(6),
                maxLength: maxLength(6),
                sameAsNewPin: sameAs('newPin')
            },
        },
        mounted() {
        },
        methods: {
            submit(e) {
                // Prevent Form Submit Event
                e.preventDefault();

                // Validate Form
                this.$v.$touch();
                if (this.$v.$invalid) return;

                var data = {
                    old_pin: this.oldPin,
                    new_pin: this.newPin,
                    new_pin_confirmation: this.newPinConfirmation
                };

                this.loading(true);
                window.axios.post(`/api/v1/user/change-pin`, data)
                    .then((response)  =>  {
                        let res = response.data;
                        this.$parent.success('Success', 'PIN Updated');
                        this.$router.push({ name: 'user.profile', query: { token: this.token } });
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.oldPin = '';
                        this.$parent.error(error);
                    });
            },
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
        },
    };
</script>