<template>
    <div class="payment" v-if="transaction">
        <div class="bg-white p-3 d-flex align-items-center mb-3">
            <div>
                <p class="f-bold mb-0 text-black">
                    <template v-if="order.type == 0">
                        Top Up Saldo
                    </template>
                    <template v-else-if="order.type == 7">
                        {{ order.options.title }}
                    </template>
                </p>
                <p class="mb-0 text-grey fs-0">
                    <template v-if="order.type == 0">
                        Transfer Masuk
                    </template>
                    <template v-else-if="order.type == 7">
                        Pembayaran
                    </template>
                </p>
            </div>
            <div class="ml-auto d-inline-flex align-items-center">
                <!-- <template v-if="hasTransaction(order)"> -->
                    <template v-if="isTransactionCredit(transaction)">
                        <p class="mb-0 font-weight-bold text-black">- {{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                    </template>
                    <template v-else>
                        <p class="mb-0 font-weight-bold text-green">+ {{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                    </template>
                <!-- </template> -->
                <!-- <template v-else>
                    <p class="mb-0 f-bold fs-2 text-blue">{{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                </template> -->
            </div>
        </div>

        <div class="bg-white">
            <p class="font-weight-bold black-label px-3 pt-3">Informasi Transaksi</p>
            <hr class="liner">
            <div class="p-3">
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Nomor Invoice</p>
                    <p class="f-bold mb-0">{{ transaction.reference_number }}</p>
                </div>
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Tanggal dan Waktu</p>
                    <p class="f-bold mb-0">{{ timezoned(transaction.created_at) | moment('DD MMM YYYY - hh.mm A') }}</p>
                </div>
                <div v-if="transaction.description" class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Pembayaran</p>
                    <p class="f-bold mb-0">{{ transaction.description }}</p>
                </div>
                <div class="mb-0 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Metode Pembayaran</p>
                    <p class="f-bold mb-0">
                        <template v-if="order.type == 0">
                            Transfer BCA
                        </template>
                        <template v-else-if="order.type == 7">
                            Saldo
                        </template>
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="btn-wrapper">
            <button class="btn btn-blue btn-block btn-circle fs-3 btn-lg">Tutup</button>
        </div> -->
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                token: this.$route.query.token,
                transaction: null,
                order: null,
                myWalletId: [],
            }
        },
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        mounted() {
            this.getPayment(this.$route.params.order_id);
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            getPayment(id) {
                this.loading(true);
                window.axios.get(`/api/v1/order/${id}/detail`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.transaction = res.data.transaction;
                        this.order = this.transaction.order;
                        this.myWalletId = res.data.owner_wallet_ids;
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.$parent.error(error);
                    });
            },
            timezoned(date) {
                date = moment.tz(date, 'UTC').tz(moment.tz.guess());
                return date;
            },
            hasTransaction(order) {
                if (Array.isArray(order.transactions) && order.transactions.length > 0) {
                    return true
                } else {
                    return false
                }
            },
            isTransactionCredit(transaction) {
                if (this.myWalletId.indexOf(transaction.credit_wallet_id) != -1) {
                    return true;
                } else {
                    return false;
                }
            },
        },
    };
</script>