<template>
    <div class="payment" v-if="order">
        <div class="bg-white p-3">
            <p class="mb-0">Status: <span class="text-red f-bold">Menunggu Pembayaran</span></p>
        </div>
        <hr class="liner">
        <div class="bg-white p-3 mb-3">
            <div class="text-center">
                <div class="p-3 mb-4 box-raised">
                    <p class="text-red font-weight-bold mb-1 fs-2">Transfer sebelum {{ order.expired_at | moment('hh:mm A') }}</p>
                    <vue-countdown-timer
                        :start-time="now"
                        :end-time="timezoned(order.expired_at)"
                        :interval="1000"
                        :start-label="null"
                        :end-label="null"
                        label-position="begin"
                        :end-text="'Telah Kedaluwarsa'"
                        :day-txt="'days'"
                        :hour-txt="'Jam'"
                        :minutes-txt="'Menit'"
                        :seconds-txt="'Detik'">
                        <template slot="start-label">
                            <span></span>
                        </template>

                        <template slot="countdown" slot-scope="scope">
                            <template v-if="scope.props.hours != 0 || scope.props.hours != '00'">
                                <span>{{scope.props.hours}}</span><span> {{scope.props.hourTxt}} </span>
                            </template>
                            <template v-if="scope.props.minutes != 0 || scope.props.minutes != '00'">
                                <span>{{scope.props.minutes}}</span><span> {{scope.props.minutesTxt}} </span>
                            </template>
                            <span>{{scope.props.seconds}}</span><span> {{scope.props.secondsTxt}} </span>
                            <span> lagi </span>
                        </template>
                    </vue-countdown-timer>
                </div>
                <div class="text-left">
                    <p class="font-weight-bold fs-0 mb-2">Silahkan Transfer Ke</p>
                    <div class="d-flex align-items-center mb-2">
                        <p class="mb-0">{{ order.virtual.dest_bank_account.account_name }}</p>
                        <img width="74" src="/assets/bank/bca.png" class="ml-auto" alt="">
                    </div>
                    <p class="text-grey fs-0 mb-2">Nomor Rekening</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="font-weight-bold mb-0">{{ order.virtual.dest_bank_account.account_no }}</h5>
                    </div>
                    <p class="text-grey fs-0 mb-2">Total Pembayaran</p>
                    <div class="d-flex align-items-center total-pembayaran">
                        <h5 class="font-weight-bold mb-0">
                            <span>{{ (order.order_details[0].total - order.order_details[0].discount).toString().substr(0, (order.order_details[0].total - order.order_details[0].discount).toString().length - 3) | currency('Rp', 0, {thousandsSeparator: '.'}) }}</span><span>.</span><span class="text-green">{{ (order.order_details[0].total - order.order_details[0].discount).toString().substr(-3, 3) }}</span>
                        </h5>
                    </div>
                    <div class="help-box mb-0">Transfer tepat hingga 3 digit terakhir agar proses verifikasi pembayaran lancar.</div>
                </div>
            </div>
        </div>
        <div class="bg-white p-3 mb-3 d-flex align-items-center">
            <p class="f-bold mb-0">Top Up Saldo</p>
            <p class="mb-0 font-weight-bold ml-auto">+ {{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
        </div>
        <div class="bg-white mb-3">
            <p class="font-weight-bold black-label px-3 pt-3">Informasi Transaksi</p>
            <hr class="liner">
            <div class="p-3">
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Nomor Invoice</p>
                    <p class="f-bold mb-0">{{ order.reference_number }}</p>
                </div>
                <div class="mb-2 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Tanggal dan Waktu</p>
                    <p class="f-bold mb-0">{{ timezoned(order.created_at) | moment('DD MMM YYYY - hh.mm A') }}</p>
                </div>
                <div class="mb-0 d-flex align-items-center justify-content-between">
                    <p class="text-grey mb-0">Metode Pembayaran</p>
                    <p class="f-bold mb-0">
                        <template v-if="order.type == 0">
                            Transfer BCA
                        </template>
                        <template v-else-if="order.type == 7">
                            Saldo
                        </template>
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-white p-3">
            <button v-on:click="cancelOrder(order.id)" class="btn btn-block btn-lg btn-cancel">Batalkan Transaksi</button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    
    export default {
        data() {
            return {
                token: this.$route.query.token,
                now: moment().format(),
                order: null
            }
        },
        mounted() {
            this.getOrder(this.$route.params.order_id);
        },
        computed: {
            ...mapState('account', ['user']),
            ...mapState('loading', ['isLoading'])
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            getOrder(id) {
                this.loading(true);
                window.axios.get(`/api/v1/order/${id}/ongoing-detail`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.order = res.data.order;
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.$parent.error(error);
                    });
            },
            timezoned(date) {
                date = moment.tz(date, 'UTC').tz(moment.tz.guess());
                return date;
            },
            cancelOrder(id) {
                this.loading(true);
                window.axios.post(`/api/v1/balance/topup/${id}/cancel`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.$parent.success('Success', 'Order dibatalkan');
                        this.$router.push({ name: 'user.transaction-list', query: { token: this.token } });
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.$parent.error(error);
                    });
            }
        },
    };
</script>