<template>
    <div class="payment">
        <md-tabs class="md-theme-rop fixed-tabs" md-alignment="fixed" md-elevation="3" :md-swipeable="true" @md-changed="setActiveTabValue">
            <md-tab id="tab-process" md-label="Sedang Proses">
                <div>
                    <div v-for="(order, index) in orderOngoing" :key="index">
                        <p class="text-grey fs-0 mb-2" :class="{'d-none': showDate(index, 0)}">{{ timezoned(order.created_at) }}</p>
                        <router-link :to="{name: 'user.transaction-ongoing-detail', params: { order_id: order.id }, query: { token: token }}" class="transaction-block p-3 d-flex align-items-center md-elevation-3">
                            <!-- <img class="transaction-logo" src="/assets/icons/new-mareco-logo.png" alt=""> -->
                            <div>
                                <p class="fs-2 mb-0 text-black">
                                    <template v-if="order.type == 0">
                                        Top Up Saldo
                                    </template>
                                    <template v-else-if="order.type == 7">
                                        {{ order.options.title }}
                                    </template>
                                </p>
                                <p class="mb-0 text-grey">Sedang Proses</p>
                            </div>
                            <div class="ml-auto d-inline-flex align-items-center">
                                <p class="mb-0 f-bold fs-2 text-blue">{{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                                <font-awesome-icon :icon="['fas','chevron-right']" class="text-grey ml-3"></font-awesome-icon>
                            </div>
                        </router-link>
                    </div>
                </div>
            </md-tab>
            <md-tab id="tab-complete" md-label="Selesai">
                <div>
                    <div v-for="(order, index) in orderCompleted" :key="index">
                        <p class="text-grey fs-0 mb-2" :class="{'d-none': showDate(index, 1)}">{{ timezoned(order.created_at) }}</p>
                        <router-link :to="{name: 'user.transaction-detail', params: { order_id: order.id }, query: { token: token }}" class="transaction-block p-3 d-flex align-items-center md-elevation-3">
                            <!-- <img class="transaction-logo" src="/assets/icons/new-mareco-logo.png" alt=""> -->
                            <div>
                                <p class="fs-2 mb-0 text-black">
                                    <template v-if="order.type == 0">
                                        Top Up Saldo
                                    </template>
                                    <template v-else-if="order.type == 7">
                                        {{ order.options.title }}
                                    </template>
                                </p>
                                <p class="mb-0 text-grey">
                                    <template v-if="order.type == 0">
                                        Transfer Masuk
                                    </template>
                                    <template v-else-if="order.type == 7">
                                        Pembayaran
                                    </template>
                                </p>
                            </div>
                            <div class="ml-auto d-inline-flex align-items-center">
                                <template v-if="hasTransaction(order)">
                                    <template v-if="isTransactionCredit(order.transactions[0])">
                                        <p class="mb-0 f-bold fs-2 text-black">- {{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                                    </template>
                                    <template v-else>
                                        <p class="mb-0 f-bold fs-2 text-green">+ {{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                                    </template>
                                </template>
                                <template v-else>
                                    <p class="mb-0 f-bold fs-2 text-blue">{{ order.order_details[0].total | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                                </template>
                                <font-awesome-icon :icon="['fas','chevron-right']" class="text-grey ml-3"></font-awesome-icon>
                            </div>
                        </router-link>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    const ONGOING = 0;
    const COMPLETED = 1;

    export default {
        data() {
            return {
                token: this.$route.query.token,
                orderOngoing: [],
                orderCompleted: [],
                pageOngoing: 1,
                pageCompleted: 1,
                myWalletId: [],
                busyOngoing: false,
                busyCompleted: false,
                countOngoing: 0,
                countCompleted: 0,

                tabOngoingLoading: false,
                tabCompleteLoading: false,
                activeTab: 'tab-process'
            }
        },
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        mounted() {
            this.getOrders(ONGOING, this.pageOngoing);
            this.getOrders(COMPLETED, this.pageCompleted);

            let self = this;
            $(window).on('scroll', function() {
                if (!self.isLoading && $(this).scrollTop() + $(this).innerHeight() >= $(document).height() - 50) {
                    if (self.activeTab == 'tab-complete') {
                        if (self.orderCompleted.length >= self.countCompleted) return;
                        if (!self.busyCompleted) self.getOrders(COMPLETED, self.pageCompleted);
                    }
                }
            })
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            error(err) {
                this.$emit('error', err);
            },
            getOrders(status, page) {
                this.loading(true);
                window.axios.get(`/api/v1/order/history?status=${status}&page=${page}&types=0,7`)
                    .then((response)  =>  {
                        let res = response.data;
                        let orders = res.data.orders
                        if (Array.isArray(orders)) {
                            if (status == ONGOING) {
                                for (let i = 0; i < orders.length; i++) {
                                    const order = orders[i];
                                    this.orderOngoing.push(order);
                                }
                                this.countOngoing = res.data.count;
                                this.pageOngoing++
                            } else if (status == COMPLETED) {
                                for (let i = 0; i < orders.length; i++) {
                                    const order = orders[i];
                                    this.orderCompleted.push(order);
                                }
                                this.countCompleted = res.data.count;
                                this.pageCompleted++
                            }
                        }
                        this.myWalletId = res.data.owner_wallet_ids;

                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.$parent.error(error);
                    });
            },
            timezoned(date) {
                date = moment.tz(date, 'UTC').tz(moment.tz.guess());
                if (moment().isSame(date, 'date')) return 'Hari ini'
                return date.format('DD MMMM YYYY');
            },
            hasTransaction(order) {
                if (Array.isArray(order.transactions) && order.transactions.length > 0) {
                    return true
                } else {
                    return false
                }
            },
            isTransactionCredit(transaction) {
                if (this.myWalletId.indexOf(transaction.credit_wallet_id) != -1) {
                    return true;
                } else {
                    return false;
                }
            },
            showDate(i, type) {
                let firstOrder = null;
                let secondOrder = null;
                if (type == ONGOING) {
                    firstOrder = this.orderOngoing[i - 1];
                    secondOrder = this.orderOngoing[i];
                } else {
                    firstOrder = this.orderCompleted[i - 1];
                    secondOrder = this.orderCompleted[i];
                }
                let firstDate = firstOrder && firstOrder.created_at ? firstOrder.created_at : null;
                let secondDate = secondOrder && secondOrder.created_at ? secondOrder.created_at : null;

                if (firstDate == null) return false;
                if (moment(firstDate).isSame(moment(secondDate), 'date')) return true;
                return false;
            },
            setActiveTabValue(value) {
                this.activeTab = value;
            }
        },
    };
</script>