<template>
    <div id="app">
    	<div id="mute" :class="{'on': isLoading || isGettingUser}"></div>
        <router-view @error="error" @success="success"></router-view>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        computed: {
            ...mapState('account', ['isGettingUser', 'user']),
            ...mapState('loading', ['isLoading'])
        },
        methods: {
            success(t, m) {
                let message = m || "Action successfully completed";
                let title = t || "Success";

                toastr.success(message, title);
            },
            error(err) {
                console.log(err);
                // Error
                let message = "Unknown error";
                let title = "Oops";
                let showToast = true;
                if (err.response) {
                    // The request was made and the server responded with a status code
                    // that falls out of the range of 2xx
                    // console.log(err.response.data);
                    // console.log(err.response.status);
                    // console.log(err.response.headers);
                    if (err.response.data.message) {
                        message = err.response.data.message;
                    }
                    if (err.response.status == 401) {
                        showToast = false;
                        // this.refreshToken();
                    }
                    // if (err.response)
                } else if (err.request) {
                    // The request was made but no response was received
                    // `err.request` is an instance of XMLHttpRequest in the browser and an instance of
                    // http.ClientRequest in node.js
                    console.log(err.request);
                } else if (err.message) {
                    message = err.message;
                } else {
                    // Something happened in setting up the request that triggered an Error
                }
                if (showToast) {
                    toastr.error(message, title);
                }
            },
        },
    };
</script>