<template>
    <div class="payment">
        <template v-if="!order">
            <div class="bg-white p-3 mb-3">
                <div class="row align-items-center">
                    <div class="col-6 d-flex align-items-center">
                        <font-awesome-icon :icon="['fas','wallet']" class="text-red fs-4"></font-awesome-icon>
                        <span class="mb-0 ml-2 f-bold">Saldo</span>
                    </div>
                    <div class="col-6">
                        <p class="text-right mb-0 font-weight-bold">{{ user.balances.primary | currency('Rp', 0, {thousandsSeparator: '.'}) }}</p>
                    </div>
                </div>
            </div>
            <div class="bg-white p-3">
                <p class="font-weight-bold fs-0">PILIH NOMINAL</p>
                <div class="row pick-list mb-3">
                    <div class="col">
                        <div class="amount-block" v-on:click="amount = 50000" :class="{'active': amount == 50000}">Rp50.000</div>
                    </div>
                    <div class="col">
                        <div class="amount-block" v-on:click="amount = 100000" :class="{'active': amount == 100000}">Rp100.000</div>
                    </div>
                    <div class="col">
                        <div class="amount-block" v-on:click="amount = 150000" :class="{'active': amount == 150000}">Rp150.000</div>
                    </div>
                    <div class="col">
                        <div class="amount-block" v-on:click="amount = 200000" :class="{'active': amount == 200000}">Rp200.000</div>
                    </div>
                    <div class="col">
                        <div class="amount-block" v-on:click="amount = 300000" :class="{'active': amount == 300000}">Rp300.000</div>
                    </div>
                    <div class="col">
                        <div class="amount-block" v-on:click="amount = 500000" :class="{'active': amount == 500000}">Rp500.000</div>
                    </div>
                </div>
                <md-field class="md-theme-mareco" :class="{'md-invalid': $v.amount.$error}">
                    <label>atau masukkan nominal</label>
                    <span class="md-prefix">Rp</span>
                    <md-input v-model.trim="$v.amount.$model" inputmode="numeric" pattern="\d*" required></md-input>
                    <span class="md-error" v-if="!$v.amount.required">Nominal harus di isi</span>
                    <span class="md-error" v-if="!$v.amount.numeric">Nominal hanya boleh berisi angka</span>
                    <span class="md-error" v-if="!$v.amount.maxValue">Maksimum nominal Rp1.000.000</span>
                    <span class="md-error" v-if="!$v.amount.minValue">Minimum nominal Rp10.000</span>
                    <span class="md-helper-text">{{ amount | currency('Rp', 0, {thousandsSeparator: '.'}) }}</span>
                </md-field>
                <p class="mb-0 text-grey fs-1 pt-3">Maksimum saldo akun Anda ialah Rp1.000.000</p>
            </div>
            <div class="btn-wrapper">
                <button v-on:click="submit" :disabled="this.$v.$invalid || isLoading" class="btn btn-block fs-2 btn-lg" :class="{'btn-grey': this.$v.$invalid, 'btn-red': !this.$v.$invalid}">Lanjutkan</button>
            </div>
        </template>
        <template v-else>
            <top-up-detail :order="order"></top-up-detail>
        </template>
    </div>
</template>

<script>
    import TopUpDetail from './TopUpDetail.vue';
    import { mapState, mapActions } from 'vuex'
    import { required, numeric, maxValue, minValue } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                token: this.$route.query.token,
                amount: '',
                order: null,
            }
        },
        computed: {
            ...mapState('account', ['user']),
            ...mapState('loading', ['isLoading'])
        },
        validations: {
            amount: {
                required,
                numeric,
                minValue: minValue(10000),
                maxValue: maxValue(1000000)
            },
        },
        mounted() {
            $('#amount').on("keypress keyup blur",function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            },
            submit() {
                this.$v.$touch();
                if (this.$v.$invalid) return;

                var data = {
                    dest_bank_account_id: 1,
                    amount: this.amount,
                };
                this.loading(true);
                window.axios.post(`/api/v1/balance/topup`, data)
                    .then((response)  =>  {
                        let res = response.data;
                        this.order = res.data.order;
                        this.loading(false);
                    }, (error) => {
                        this.loading(false);
                        this.$parent.error(error);
                    });
                
            }
        },
        components: {
            TopUpDetail
        }
    };
</script>