<template>
    <div class="payment" v-if="order">
        <div class="bg-white p-3">
            <div class="text-center">
                <font-awesome-icon :icon="['fas','check']" class="big-check-blue"></font-awesome-icon>
                <h5 class="font-weight-bold">Permintaan Anda Berhasil</h5>
                <p class="text-grey">Mohon segera menyelesaikan<br>pembayaran</p>
                <div class="p-3 mb-4 box-raised">
                    <p class="text-blue font-weight-bold mb-1 fs-2">Transfer sebelum {{ order.expired_at | moment('hh:mm A') }}</p>
                    <vue-countdown-timer
                        :start-time="now"
                        :end-time="expiredAt"
                        :interval="1000"
                        :start-label="null"
                        :end-label="null"
                        label-position="begin"
                        :end-text="'Telah Kedaluwarsa'"
                        :day-txt="'days'"
                        :hour-txt="'Jam'"
                        :minutes-txt="'Menit'"
                        :seconds-txt="'Detik'">
                        <template slot="start-label">
                            <span></span>
                        </template>

                        <template slot="countdown" slot-scope="scope">
                            <template v-if="scope.props.hours != 0 || scope.props.hours != '00'">
                                <span>{{scope.props.hours}}</span><span> {{scope.props.hourTxt}} </span>
                            </template>
                            <template v-if="scope.props.minutes != 0 || scope.props.minutes != '00'">
                                <span>{{scope.props.minutes}}</span><span> {{scope.props.minutesTxt}} </span>
                            </template>
                            <span>{{scope.props.seconds}}</span><span> {{scope.props.secondsTxt}} </span>
                            <span> lagi </span>
                        </template>
                    </vue-countdown-timer>
                </div>
                <div class="text-left">
                    <p class="font-weight-bold fs-0 mb-2">Silahkan Transfer Ke</p>
                    <div class="d-flex align-items-center mb-2">
                        <p class="mb-0">{{ order.virtual.dest_bank_account.account_name }}</p>
                        <img width="74" src="/assets/bank/bca.png" class="ml-auto" alt="">
                    </div>
                    <p class="text-grey fs-0 mb-2">Nomor Rekening</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="font-weight-bold mb-0">{{ order.virtual.dest_bank_account.account_no }}</h5>
                        <!-- <p class="text-blue f-bold ml-auto mb-0">SALIN</p> -->
                    </div>
                    <p class="text-grey fs-0 mb-2">Total Pembayaran</p>
                    <div class="d-flex align-items-center total-pembayaran">
                        <h5 class="font-weight-bold mb-0">
                            <span>{{ price.toString().substr(0, price.toString().length - 3) | currency('Rp', 0, {thousandsSeparator: '.'}) }}</span><span>.</span><span class="text-green">{{ price.toString().substr(-3, 3) }}</span>
                        </h5>
                        <!-- <p class="text-blue f-bold ml-auto mb-0">SALIN</p> -->
                    </div>
                    <div class="help-box mb-3">Transfer tepat hingga 3 digit terakhir agar proses verifikasi pembayaran lancar.</div>
                    <router-link :to="{name: 'user.transaction-ongoing-detail', params: { order_id: order.id }, query: { token: token }}" href="#" class="btn btn-red btn-block btn-lg fs-2">Cek Status Pembayaran</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    
    export default {
        props: ['order'],
        data() {
            return {
                token: this.$route.query.token,
                now: moment().format(),
                price: this.order.order_details[0].total - this.order.order_details[0].discount,
                expiredAt: moment.tz(this.order.expired_at, 'UTC').tz(moment.tz.guess()).format()
            }
        },
        mounted() {
        },
        computed: {
            ...mapState('account', ['user']),
            ...mapState('loading', ['isLoading'])
        },
        methods: {
            loading(s) {
                this.$store.dispatch('loading/setLoading', s);
            }
        },
    };
</script>